/* OPMAAK HELE WEBSITE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @font-face {
    font-family: Segoe UI, Myriad Pro, sans-serif;
}
}
/* EINDE OPMAAK HELE WEBSITE */

/* BODY GEHELE WEBSITE */
body {
    background-color: #e6e6e9;
    font-family: Segoe UI, Myriad Pro, sans-serif;
}
/* EINDE BODY GEHELE WEBSITE */

.mainheader {
    background-color: white;
    display: flex;
    height: 5rem;
    width: 100%;
}

img{
    height: 100%;
    object-fit: contain;
    width: 12rem;
}

.mobile{
    height: 100%;
    object-fit: contain;
    width: 120%;
}

.tablet, .desktop {
    display: none;
    object-fit: cover;
    width: 100%;
}
/* HOOFDNAVIGATIE*/
nav {
    margin-left: auto;
}

nav ul {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100%;
    list-style: none;
    width: 100%;
}

nav li {
    background-repeat: no-repeat;
    background-size: 2em;
    padding-left: 2em;
}

nav li:nth-child(1) {
    background-image: url("../img/favoriet.png");
}

nav li:nth-child(2) {
    background-image: url("../img/inlog.png");
}

nav li:nth-child(3) {
    background-image: url("../img/back.jpg");
    display: flex;
    position: absolute;
    margin-left: -3em;
}

nav li:hover{
    opacity: 0.5s;
    font-size: 1.05em;
}
nav a {
    color:#04327d;
    display: block;
    margin-right: auto;
    padding: 0.5em;
    text-decoration: none;
    text-indent: -666em;
    width: auto;
}
/* EINDE HOOFDNAVIGATIE*/


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

.favorite {
    padding: 0 0em;
}

/* FORMULIER VOOR VERHAAL KIEZEN*/
form {
    background-color:#F8C72A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 3em;
    max-width: 28em;
    min-width: 20em;
    padding: 1em 1em;

}

fieldset {
    border:none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}

fieldset, select {
    color:#04327d;
    margin-bottom: 1em;
    width:100%;
}

select {
    background-color: white;
    border:none;
    font-family: Segoe UI, Myriad Pro, sans-serif;
    font-size:1em;
    height: 3em;
    width:100%;
}

input {
    border-style: none;
    font-size:1em;
}

.suprise, form a {
    text-decoration: none;
    margin-left: 1em;
}

/* EINDE FORMULIER VOOR VERHAAL KIEZEN*/

/* FORMULIER VOOR INLOGGEN*/
.login{
    font-size: 1em;
    text-align: left;
}

#password, #mail {
    background-color:white;
    box-shadow: none;
    color: #1b1e34;
    line-height: 2.5em;
    text-align:left;
    width: 90%;
    margin: 0.5em 1em;
}

label{
    margin: 1em;
}

.login legend{
    margin: 0.6em;
    font-size: 1.5em;
}

.login input:valid{
    outline: 1px solid green;
}

/* FORMULIER VOOR INLOGGEN*/


/* SECTION MET VERHALEN */
section {
    color:#04327d;
    margin-bottom: 1em;
    max-width: 28em;
    min-width: 20em;
    padding: 1.2em;
    }

h1 {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 0.5em;
}

article {
    position: relative;
    padding: 0 1em;
    width: 20em;
    background-color: white;
    margin: 1em;
    height: 17.5em;
    box-shadow: 0 0 1px 2px rgba(0,0,0,.1);
}

article>img {
    position: absolute;
    margin-top: -18.3em;
    margin-left: 16.5em;
    width: 1.5em;
}

.storytime {
    width:18em;
    margin-left: 0.01em;
    margin-top: 1em;
}

h2 {
    position: absolute;
    color: white;
    margin-top: -5.8em;
    margin-left: 0.5em;
}


p {
    background-color: white;
    color: #1b1e34;
    line-height: 1.2em;
    margin-top: -4.8em;
    position: absolute;
    padding: 0.5em;
}

/* EINDE SECTION MET VERHALEN */

/* BUTTONS VAN DE WEBSITE */
form input, form .suprise, form a, article a {
    background-color:#097ace;
    box-shadow: 0em 0.25em 0em 0em rgba(4,93,155,1);
    color:white;
    font-family: Segoe UI, Myriad Pro, sans-serif;
    line-height: 2.8125em;
    text-align: center;
    width: 45%;
}

article a {
    position: absolute;
    text-decoration: none;
    width: 90%;
    margin-top: 2em;
}


.suprise:hover, input:hover, form a:hover, article a:hover {
  background-color: #045d9b;
    transition: 0.8s;
}
/* EINDE BUTTONS VAN DE WEBSITE */


/*MAJOR BREAKPOINT GROTER DEVICE*/
@media (min-width: 32em) {
    nav a {
        text-indent: 0;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        max-width:100%;
    }

    article{
        min-width: 20em;
        justify-self: center;
    }

      nav li:nth-child(3) {
    margin-left: -6em;
}

    .mobile, .desktop{
        display: none;
}

    .tablet {
        display: flex;
        width: 120%;
}

    h1 {
    padding-left: 2em;
}
}


@media (min-width: 48em) {

     .mobile, .tablet {
        display: none;
}

    .desktop{
        display: flex;
        width: 120%;
    }
}


@media only screen and (max-width: 51.125em) and (min-width: 32em)  {

    article{
    width: 30em;
        height: 20em;
}
    p{
    margin-top: -2em;
    margin-bottom: 10em;
    padding: 1em;
    margin-left: 1em;
}

    article a{
        width: 80%;
        margin-left: 2em;
        margin-top: 4em;
    }

      .storytime {
    margin-left: -0.6em;
    width: 100%;
    height: 10em;
}

    article>img {
    position: absolute;
    margin-top: -19.4em;
    margin-left: 10.9em;
    width: 1.5em;
}

    h2{
        color: #04327d;
        background-color: white;
        padding-right: 1.5em;
        margin-top: -7em;
        margin-left: 1em;
}
    }


