/* OPMAAK HELE WEBSITE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @font-face {
    font-family: Segoe UI, Myriad Pro, sans-serif;
}
}
/* EINDE OPMAAK HELE WEBSITE */

/* BODY GEHELE WEBSITE */
body {
    background-color: #e6e6e9;
    font-family: Segoe UI, Myriad Pro, sans-serif;
    font-size:1em;
}
/* EINDE BODY GEHELE WEBSITE */

.mainheader {
    background-color: white;
    display: flex;
    height: 5rem;
    width: 100%;
}

img {
    height: 100%;
    object-fit: contain;
    width: 12rem;
}

/* HOOFDNAVIGATIE*/
nav {
    margin-left: auto;
}

nav ul {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100%;
    list-style: none;
    width: 100%;
}

nav li {
    background-repeat: no-repeat;
    background-size: 2em;
    padding-left: 2em;
}

nav li:first-child {
    background-image: url("../img/settings.png");
}

nav li:last-child {
    background-image: url("../img/inlog.png");
}

nav a {
    color:#04327d;
    display: block;
    margin-right: auto;
    padding: 0.5em;
    text-decoration: none;
    text-indent: -666em;
    width: auto;
}
/* EINDE HOOFDNAVIGATIE*/


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 9em
}

/* FORMULIER VOOR VERHAAL KIEZEN*/
form {
    background-color:#F8C72A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 5em;
    max-width: 28em;
    min-width: 20em;
    padding: 1em 1em;
}

fieldset {
    border:none;
    font-size: 1.5em;
    text-align: center;
}

fieldset, select {
    color:#04327d;
    margin-bottom: 1em;
    width:100%;
}

select {
    background-color: white;
    border:none;
    font-family: Segoe UI, Myriad Pro, sans-serif;
    font-size:1em;
    height: 3em;
    width:100%;
}

form input, form .suprise, form a {
    background-color:#097ace;
    box-shadow: 0em 0.25em 0em 0em rgba(4,93,155,1);
    color:white;
    font-family: Segoe UI, Myriad Pro, sans-serif;
    line-height: 2.85em;
    min-width: 8em;
    text-align: center;
    width: 45%;
}

input {
    border-style: none;
    font-size:1em;
}

.suprise, form a {
    text-decoration: none;
}
/* EINDE FORMULIER VOOR VERHAAL KIEZEN*/

/* FORMULIER VOOR INLOGGEN*/
.login{
    font-size: 1em;
    text-align: left;
}

#password, #email {
    background-color:white;
    box-shadow: none;
    color: #1b1e34;
    line-height: 2.5em;
    margin-bottom: 0.5em;
    min-width: 8em;
    text-align: left;
    width: 100%;
}

.login legend {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
}
/* FORMULIER VOOR INLOGGEN*/


/* SECTION MET VERHALEN */
section {
    background-color: white;
    color:#04327d;
    margin-bottom: 1em;
    max-width: 28em;
    min-width: 20em;
    padding: 1.2em;
}

h1 {
    color:#04327d;
    text-align: center;
    width: 100%;
}

h2 {
    color: #097ace;
    margin-top: 1.5em;
}

article {
    position: relative;
}

article>img {
    height: auto;
    margin-left: 12em;
    margin-top: -16em;
    width: 1.5em;
    position: absolute;
}

p {
    color: #1b1e34;
}
/* EINDE SECTION MET VERHALEN */

/* BUTTONS VAN DE WEBSITE */
button {
    border-style: none;
    font-size:1em;
    margin-top: 1em;
    width: 100%;
}

button, form input, form .suprise, form a {
    background-color:#097ace;
    box-shadow: 0em 0.25em 0em 0em rgba(4,93,155,1);
    color:white;
    font-family: Segoe UI, Myriad Pro, sans-serif;
    line-height: 2.8125em;
    text-align: center;
}

.story {
    width: 100%;
    border-style: none;
    color: green;

}

.suprise:hover, input:hover, form a:hover, button:hover {
  background-color: #045d9b;
    transition: 0.8s;
}
/* EINDE BUTTONS VAN DE WEBSITE */



/*MAJOR BREAKPOINT GROTER DEVICE*/
@media (min-width: 32em) {
    nav a {
        text-indent: 0;
    }

    main {
        padding: 0 4em;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80em;
    }

    article{
        margin-bottom: 1em;
        margin-top: -1em;
        padding: inherit;
        width: 20em;
    }

    h2 {
        margin-top: 0.8em;
    }

    nav li:first-child, nav li:last-child{
        background-image: url("../img/wit.jpg");
    }
}


